:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --purple1: #646cff;
  --purple2: #535bf2;
  --blue1: #6495ED;
  --blue2: #1434A4;
}

body, figure, ul, h1 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  font-weight: 500;
  color: var(--purple1) ;
  text-decoration: inherit;
}