.scrollContainer {
    height: 200px;
    padding: 25px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    overflow-y: scroll;
}

.scrollContainer::-webkit-scrollbar {
    display: none;
}

.icone {
    position: sticky;
    bottom: -10px;
    display: flex;
    justify-content: center;
}

.icone::after {
    content: "";
    height: 25px;
    width: 25px;
}

.icone i {
    font-size: 25px;
}

@media screen and (max-width:768px) {
    .scrollContainer {
        height: 100%;
        width: 200px;
        padding: 10px 0;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        column-gap: 15px;
        overflow-x: scroll;
    }

    .icone {
        right: -5px;
        display: flex;
        flex-direction: column;
    }

    .icone::after { 
        height: 0px;
    }

}