.scrollContainer {
    height: 200px;
    padding: 25px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    overflow-y: scroll;
}

.scrollContainer::-webkit-scrollbar {
    display: none;
}

.icone {
    position: sticky;
    bottom: -10px;
    display: flex;
    justify-content: center;
}

.icone::after {
    content: "";
    height: 25px;
}

.icone i{
    font-size: 25px;
}