.container {
    height: 120px;
    margin:0;
    transition: transform 250ms;
    border: 1px solid #000;
}

.container:hover {
    transform: scale(1.1);
}

.container__image {
    height: 120px;
    width: 120px;
    border-radius: 5px;
}

.container__name {
    margin: 0;
    font-size: 15px;
    color: #fff;
}
