.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transition: transform 250ms;
}

.main-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.container:hover {
    transform: scale(1.1);
}

.container__image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.container__name {
    margin: 0;
    font-size: 15px;
    color: #000;
}
