.container {
    transition: transform 250ms;
}

.main-container {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.container:hover {
    transform: scale(1.1);
}

.container__image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.container__name {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #000;
}


@media screen and (max-width:768px) {
    .main-container {
        flex-direction: column;
    }
}
