.container__sub {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.container__link {
   display: inline-block;
}

.container__link:hover {
    color: var(--purple2)
}

.container__sub p {
    text-align: right;
}

.container__sub__profil {
    border-radius: 50%;
}

@media screen and (max-width:768px) {
    .container__sub {
        width: 50%;
        max-width: 200px;
        column-gap: 8px;
        overflow-x: hidden;
        justify-content: space-between;
    }

    .container__link {
        display: contents;
    }
    /* .container__link {
        width: 100%;
        overflow-x: hidden;
    } */
    

    .container__link h3, .container__sub p {
        width: 100%;
        font-size: 16px;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
